<div class="panel panel-default profile-page">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 sidebar">
        <a class="image-link">
          <!-- here goes the image -->
        </a>
        <div class="table-responsive">
          <table class='table'>
            <br>
            <tr>
              <td><strong>Username: </strong></td>
              <td> <%= user.escape("username") %> </td>
            </tr>

            <tr>
              <td><strong>Location: </strong></td>
              <td><%= user.escape("location") %></td>
            </tr>
            <tr>
              <td><strong>Total Reviews: </strong></td>
              <td><%= user.escape('reviews') %></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-8">
        <h3 class='text-center'>PROFILE</h3>
        <div class="description">
          Bio: <%= user.escape("bio") %>
        </div>
      </div>

    </div>
  </div>
</div>
