<h3 class="text-center">Search Results..</h3>

  <h4><%= games.size() %> Total Games Found: </h4>
  <table class="game-list table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Avg Rating</th>
      </tr>
    </thead>

    <tbody class="games-table">

    </tbody>
  </table>

<h4><%= tags.size() %> Total Tags Found: </h4>
<div class="tag-list">

</div>
