<div class="modal-background"> </div>

<div class="modal-content">
  <form class="edit-review">
    <button class="close" style="color: white">&times;</button>
    <div>
      <label for="review-rating">Rating: </label>
      <div id="star-rerater"></div>
    </div>

    <div class="form-group">
      <label for="review-body">Review: </label>
      <textarea class="form-control"
                name="review[body]"
                rows="8"
                cols="40"><%= review.escape('body') %></textarea>
      <button type="submit" class="btn btn-default edit">Submit</button>
      <span class="help-inline"></span>
    </div>
  </form>
</div>
