<form class="">

  <div>
    <label for="review-rating">Rating: </label>
    <div id="star-rate"></div>
  </div>

  <div class="form-group">
    <label for="review-body">Add Review: </label>
    <textarea class="form-control"
              name="review[body]"
              rows="8"
              cols="40"
              placeholder="Review goes here"></textarea>
    <button type="submit" class="btn btn-default">Submit Review</button>
  </div>


</form>

<script>
  $('#star-rate').raty({
    path: '/assets/',
    half: true,
    score: 3,
    scoreName: 'review[rating]'
  });
  $('#star-rate').raty({
    path: '/assets/',
    half: true,
    score: 3,
    scoreName: 'review[rating]'
  });
</script>
