<h2 class="text-center">
  <strong>All Games</strong>
</h2>

<div class="alphabet-bar">
  <ul class="alphabet">
  </ul>
</div>

<table class="game-list table">
  <thead>
      <th><h3>Title</h3></th>
      <th><h3>Avg Rating</h3></th>
  </thead>

  <tbody class="games-table">

  </tbody>
</table>
