<div class="top-games-sidebar">
  <h4>Top Games by Console</h4>
  <ul class="sidebar-list">
    <li class="sidebar-list-item" data-console="0">All Consoles</li>
    <li class="sidebar-list-item" data-console="1">Gameboy</li>
    <li class="sidebar-list-item" data-console="2">Gameboy Color</li>
    <li class="sidebar-list-item" data-console="3">Gameboy Advance</li>
    <li class="sidebar-list-item" data-console="4">Gamecube</li>
    <li class="sidebar-list-item" data-console="5">iOS</li>
    <li class="sidebar-list-item" data-console="6">Nintendo64</li>
    <li class="sidebar-list-item" data-console="7">NintendoDS</li>
    <li class="sidebar-list-item" data-console="8">Nintendo3DS</li>
    <li class="sidebar-list-item" data-console="9">PC</li>
    <li class="sidebar-list-item" data-console="10">PlayStation</li>
    <li class="sidebar-list-item" data-console="11">PS-2</li>
    <li class="sidebar-list-item" data-console="12">PS-3</li>
    <li class="sidebar-list-item" data-console="13">PS-4</li>
    <li class="sidebar-list-item" data-console="14">PS-P</li>
    <li class="sidebar-list-item" data-console="15">VITA</li>
    <li class="sidebar-list-item" data-console="16">XBox</li>
    <li class="sidebar-list-item" data-console="17">XBox360</li>
    <li class="sidebar-list-item" data-console="18">XBoxOne</li>
    <li class="sidebar-list-item" data-console="19">Wii</li>
    <li class="sidebar-list-item" data-console="20">Wii U</li>
  </ul>
</div>


<div class="jumbotron welcome">
  <div class="jumbotron-container">
    <!-- <img class="jumbotron-header" src="<%= asset_path("agro.png") %>"/> -->
    <div class="jumbotron-header">
      <h1>//AGR.Online</h1>
    </div>
    <p>
      <strong>
        Home to countless reviews written by avid gaming fans such as yourself!
      </strong>
    </p>
    <p>
      <strong>Get started and search for a game or write a review!</strong>
    </p>
    <p>
      <a class="btn btn-primary btn-lg"
         href="/#games" role="button">
          Learn more
      </a>
    </p>
  </div>
</div>

<h2 class="top-games-header">Top 8 Games</h2>

<div class="game-thumbnails clearfix">

</div>
