  <td>
    <a href="#/games/<%= game.id %>">
      <%= game.escape('title') %>
    </a>
  </td>
  <td>
    <div class="star-rating"
         data-score="<%= game.get('average_rating') %>">
    </div>
  </td>
