<h3><strong>All Games</strong></h3>
<a class="new-game" href="#/games/new">Create Game</a>

<div class="alphabet-bar">
  <ul class="alphabet">
  </ul>
</div>

<div class="games">
  <ul class="game-list">

  </ul>
</div>
