<div class="jumbotron welcome">
  <div class="jumbotron-container">
    <h1>AGR.Online</h1>
    <p>
      <strong>
        Home to countless reviews written by avid gaming fans such as yourself!
      </strong>
    </p>
    <p>
      <strong>Get started and search for a game or write a review!</strong>
    </p>
    <p>
      <a class="btn btn-primary btn-lg"
         href="/#games" role="button">
          Learn more
      </a>
    </p>
  </div>
</div>

<h2>Top 8 Games</h2>

<div class="game-thumbnails clearfix">

</div>
