
  <td class="game-item-title">
    <h4><%= game.escape('title') %></h4>
  </td>
  <td class="game-item-rating">
    <div class="star-rating"
         data-score="<%= game.get('average_rating') %>">
    </div>
  </td>
