<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>[AGRO] Contact Issue</h1>
    <p>
      # "email field from JS form" says:
    </p>
    <p>
      # "body from JS form":
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
