<h3 class="text-center">About AGRO</h3>
<hr>
<div class="col-md-6">
  <p>
    AGRO, short for Authentic Game Reviews Online, is a site made for young adults out there who are constantly wondering what is the right game for them to play. Many of us avid gamers have moved from game to game simply because we didn't like it after we tried it. We spend hours scouring the internet for what seems to be a fun game for us to try next. What comes next is no surprise to anyone; the game reviews and descriptions on the internet are not truthful in the slightest. Now I'm not saying that all sites blow a game's rating out of proportion, but they simply don't do a good job of displaying the answers to the questions you really want answered.
  </p>
  <p>
    <ul>
      <li>What's the PvP like in this game?</li>
      <li>How interesting is the storyline?</li>
      <li>Is it P2W (pay to win) or can you do just as much without paying?</li>
    </ul>
  </p>
    These are just a few examples of the questions constantly plaguing a gamer's mind and there are certainly more to come. How AGRO comes into play is by allowing avid gamers to come together and write detailed feedback for games they have played so future visitors will be able to take away from their experiences. If a game isn't currently on the website, users will be able to add it into the database. The website will be heavily reliant on the honestly of it's users however reviews and game additions will be monitored from time to time.
  <p>
</div>

<div class="col-md-6">
  <h5 class="text-center">Contact Us</h5>
  <form class="contact-form">

    <div class="form-group">
      <label for="contac-email">Email: </label>
      <input type="text"
             name="contact[email]"
             class="form-control"
             placeholder="abc123@example.com">
    </div>

    <div class="contact-feedback">
      <label for="users-bio">Feedback: </label>
      <textarea class="form-control"
                name="contact[feedback]"
                rows="8"
                cols="40"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-default"> Send </button>

  </form>

</div>
