/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-tokenfield
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.tag-list-item {
  padding: 3px;
  color: #ad1010;
}

input.token-input {
  color: white;
}

input.form-control::-webkit-input-placeholder {
    color:    #F0F8FF;
}
textarea.form-control::-webkit-input-placeholder {
  color: #F0F8FF;
}
:-moz-placeholder {
    color:    #F0F8FF;
}
::-moz-placeholder {
    color:    #F0F8FF;
}
:-ms-input-placeholder {
    color:    #F0F8FF;
}

.voting {
  text-align: center;
}

.glyphicon-chevron-up {
  color: green;
}

.glyphicon-chevron-down {
  color: red;
}

.num-votes {
  text-align: center;
}

.new-user {
  max-width: 600px;
}

.jumbotron {
  min-width: 600px;
  min-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.2);

}

.form-control {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    outline: none;
}


body {
  padding-top: 50px;
  background-image: url("supermario.jpg");
}

.panel {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.profile-page {
  height: 100vh;
  overflow: auto;
}

.help-inline {
  color: red;
}

button {
  opacity: 0.6;
}

.alphabet-bar {
  min-height: 20px;
  padding-bottom: 40px;
}
.alphabet {
    list-style-type: none;
    margin:50px auto 0;
    padding:0;
    cursor: pointer;
    width:80%;
    text-align:center;
}

.alphabet li {
    float:left;
    margin:0;
    padding:0;
    border-right:1px solid darkgrey;
    font-size: 13px;
    -moz-box-sizing:border-box;
    color:black;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:3.84%;
}

.alphabet li:last-child {
    border-right: none;
}

.alphabet li:hover {
    color:green;
    background-color: lightgrey;
}

.selected {
  background-color: red;
}

.sidebar img {
  width: 100%;
  height: auto;
}

.help-inline-image {
  color: red;
}

.modal-background {
  background: rgba(0, 0, 0, 0.5); //add transparency to gray out background
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
}

.modal-content {
  background-color: black;
  color: white;
  min-width: 400px;
  min-height: 300px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

tr.game-list-item:nth-child(even) {
  background: #CCC;
  opacity: 0.6;
}
tr.game-list-item:nth-child(odd) {
  background: #FFF;
  opacity: 0.6;
}

a.game-item {
  color: black;
}

a.edit-link {
  color: white;
}

input.form-control {
  color: white;
}

textarea.form-control {
  color: white;
}
