/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-tokenfield
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#navbar {
  position: absolute;
}

.main-body {
  background: rgba(255, 255, 255, 0.2);
  min-height: 100vh;
}

//spinner
#pong-loader {
  position: absolute;
  z-index: 20;
  transform:translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
////////////////////////

// login/register page
input.login-field::-webkit-input-placeholder {
  color:    #bdbdbd;
  text-indent: 20px;
}

input.login-field {
  text-indent: 20px;
}

.login-icon {
  position: absolute;
  left: 0;
  color: white;
  padding: 10px;
}

.login-btn {
  min-width: 150px;
}

.static-navbar {
  opacity: 0.8;
}

.logintron {
  min-width: 500px;
  min-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.2);
}
////////////////////

// background stuff
body {
  padding-top: 50px;
  background-attachment: fixed;
}

.mario {
  background-image: url("supermario.jpg");
}

.donkeykong {
  background-image: url("donkeykong.png");
}

////////////////////

// search bar
input.tt-input {
  background-color: gray !important;
}

.tt-menu {
  width: 100%;
  background-color: white;
  border-radius: 2px;
}

.tt-cursor {
  color:#f1b218;
}

.tt-suggestion {
  text-indent: 10px;
}
////////////////////

// game list item

tr.game-list-item:nth-child(even) {
  background: #CCC;
  opacity: 0.6;
}
tr.game-list-item:nth-child(odd) {
  background: #FFF;
  opacity: 0.6;
}

tr.game-list-item:hover {
  background-color: red;
}

td.game-item-title {
  color: black;
}

/////////////////////

// alphabet bar

.alphabet-bar {
  min-height: 20px;
  padding-bottom: 40px;
}
.alphabet {
    list-style-type: none;
    margin:50px auto 0;
    padding:0;
    cursor: pointer;
    width:80%;
    text-align:center;
}

.alphabet li {
    float:left;
    margin:0;
    padding:0;
    border-right:1px solid darkgrey;
    font-size: 13px;
    -moz-box-sizing:border-box;
    color:black;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:3.84%;
}

.alphabet li:last-child {
    border-right: none;
}

.alphabet li:hover {
    color: green;
    background-color: lightgrey;
}

.selected {
  background-color: red;
}

.alphabet li.selected:hover {
  background-color: red;
  color: black;
}

/////////////////////////

// home page

.game-thumbnail-item:first-child {
  border-left: 1px solid black;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.game-thumbnail-item {
  display: inline-block;
  float: left;
  min-width: 25%;
  padding-top: 10px;
  text-align: center;
  border: 1px solid black;
  margin-bottom: -1px;
  margin-left: -1px;
}

.welcome {
  position: relative;
  width: 100%;
  height: 25%;
  margin-bottom: 40px;
  top: 22px;
  min-height: 100%;
  background-image: url("pokemon.png");
  background-size: cover;
}

.top-games-sidebar {
  position: absolute;
  top: 60px;
  left: 5px;
}

.sidebar-list {
  list-style:none;
  margin-left: -45px;
}

.sidebar-list-item {
  padding: 3px;
  padding-right: 55px;
  padding-left: 40px;
}

.chosen {
  background-color: white;
  color: blue;
  padding: 3px;
  padding-right: 55px;
  padding-left: 40px;
}

.sidebar-list-item:hover {
  color: green;
  background: yellow;
}

/////////////////////////

button.glyphicon-search {
  top: 6px;
}

.tag-list-item {
  padding: 3px;
  color: #ad1010;
}

input.token-input {
  color: white;
}

input.form-control::-webkit-input-placeholder {
    color:    #bdbdbd;
}
textarea.form-control::-webkit-input-placeholder {
  color:      #bdbdbd;
}
:-moz-placeholder {
    color:    #bdbdbd;
}
::-moz-placeholder {
    color:    #bdbdbd;
}
:-ms-input-placeholder {
    color:    #bdbdbd;
}

.voting {
  text-align: center;
}

.glyphicon-chevron-up {
  color: green;
}

.glyphicon-chevron-down {
  color: red;
}

.num-votes {
  text-align: center;
}


.form-group {
  position: relative;
}


.form-control {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    outline: none;
}

.panel {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.profile-page {
  height: 100vh;
  overflow: auto;
}

.help-inline {
  color: red;
}

button {
  opacity: 0.6;
}



.sidebar img {
  width: 100%;
  height: auto;
}

.help-inline-image {
  color: red;
}

.modal-background {
  background: rgba(0, 0, 0, 0.5); //add transparency to gray out background
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
}

.modal-content {
  background-color: black;
  color: white;
  min-width: 400px;
  min-height: 300px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

a.edit-link {
  color: white;
}

input.form-control {
  color: white;
}

textarea.form-control {
  color: white;
}

.user-link {
  color: red;
}
