<h2 class="text-center">
  <strong><%= consoul.escape('name') + " Games" %></strong>
</h2>

<div class="alphabet-bar">
  <ul class="alphabet">
  </ul>
</div>

<table class="game-list table">
  <thead>
    <tr>
        <th><h3>Title</h3></th>
        <th><h3>Avg Rating</h3></th>
    </tr>
  </thead>

  <tbody class="games-table">

  </tbody>
</table>
